.example-show-setup, .example-hide-setup {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -ms-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.example-show-setup {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
.example-show-start.example-show-start {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}
 
.example-hide-setup {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}
.example-hide-start.example-hide-start {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
 
.check-element {
  padding:10px;
  border:1px solid black;
  background:white;
}